<!DOCTYPE html>

<html ng-app="appname">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <title>Button Service!</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"
            data-semver="1.2.4"></script>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>
</head>

<body>


<div ng-controller="controller">

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <nav class="small-6 medium-1 large-1 text-left columns button-nav">
                    <img class="logo" alt="Button Logo" src="/img/ic_button-mark-blue@2x.png"/>
                </nav>

            </div>


            <div class="row">

                <div class="col-md-12">

                    <div class="intro-message">

                        <h1>button service!</h1>

                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <h3>authenticated!</h3>

                    <h4>Welcome, {{user.name}}</h4>


                    <hr class="intro-divider">

                    <button type="button" ng-click="getTasks()" class="btn btn-info"
                            style="width:100px">Get Tasks
                    </button>

                    <hr class="intro-divider">

                    <button type="button" ng-click="getUser()" class="btn btn-info"
                            style="width:100px">Get User
                    </button>

                    <hr class="intro-divider">

                    <button type="button" ng-click="getPosts()" class="btn btn-info"
                            style="width:100px">Get Posts
                    </button>

                    <button type="button" ng-click="getPosts1()" class="btn btn-primary"
                            style="width:100px">Get Posts (1)
                    </button>
                </div>
            </div>

            <div>

                <ul>
                    <li>an end point that allows filtering by searches for relevant posts by a connection's
                        name/username
                    <li>an end point that searches for relevant posts by date & time
                    <li>an end point that searches for relevant posts by hash-tags (or equivalent classification
                        mechanism)
                </ul>


            </div>

            <div class="panel panel-default" ng-show="processSuccess">

                <div class="row-fluid"
                     style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <label class="col-sm-3 control-label">tasks</label>

                    <label class="col-sm-3">Count</label>
                </div>


                <div class="panel-heading">

                </div>

                <div class="panel-body">
                    <div ng-repeat="task in tasks">

                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-3 control-label">{{task.id}}
                            </div>

                            <div class="col-sm-3">{{task.name}}

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default" ng-show="processUserSuccess">

                <div class="row-fluid"
                     style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <label class="col-sm-3 control-label">user</label>

                    <label class="col-sm-3">Count</label>
                </div>


                <div class="panel-heading">

                </div>

                <div class="panel-body">


                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-3 control-label">{{user.id}}
                        </div>

                        <div class="col-sm-3">{{user.name}}

                        </div>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div>PAGE ID {{post_page_id}}</div>

                <div>PAGE COUNT {{post_page_count}}</div>

                <div class="row-fluid"
                     style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <label class="col-sm-3 control-label">user</label>

                    <label class="col-sm-3">Count</label>
                </div>


                <div class="panel-heading">

                </div>

                <div class="panel-body">
                    <div ng-repeat="post in posts">

                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-3 control-label">{{post}}
                            </div>


                        </div>
                    </div>
                </div>

            </div>



        </div>

    </div>

</div>


<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
