<!DOCTYPE html>

<html ng-app="appname">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <title>Button Service!</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"
            data-semver="1.2.4"></script>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>
</head>

<body>


<div ng-controller="controller">

    <div class="intro-header">

        <div class="container">

            <div class="row">

                <div class="col-md-1">
                    <img class="logo" alt="Button Logo" src="/img/ic_button-mark-blue@2x.png"/>
                </div>

                <div class="col-md-8">

                    <div class="intro-message">

                        <h1>button service!</h1>
                        <h4 style="color: green">authenticated!</h4>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="intro-message">
                        <h3>Welcome, {{user.name}}</h3>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="intro-message">
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>


        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <button type="button" ng-click="getAllPosts()" class="btn btn-primary"
                            style="width:160px">Get All Posts
                    </button>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="formContainer">
                    <form name="by_date_form" ng-submit="getPostsForDate()">

                        <div class="col-md-4 mb3p">

                            <input type="text" class="form-control input-medium" name="search_date"
                                   id="date" ng-model="search_date"
                                   placeholder="e.g. 5/12/2016" required>

                        </div>

                        <div class="btnBox">
                            <input type="submit" class="btn btn-primary" style="width:160px"
                                   value="Get Posts by Date"/>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="formContainer">
                    <form name="by_hashtag_form" ng-submit="getPostsForHashtag()">

                        <div class="col-md-4 mb3p">

                            <input type="text" class="form-control input-medium" name="hashtag"
                                   id="hashtag" ng-model="hashtag"
                                   placeholder="e.g. value" required>

                        </div>

                        <div class="btnBox">
                            <input type="submit" class="btn btn-primary" style="width:160px"
                                   value="Get Posts by Hashtag"/>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="progress progress-striped active"
                     ng-show="processing"
                     style="margin:10px">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%">
                        Getting posts ...
                    </div>
                </div>

                <div class="center-block">{{queryStatus}}</div>
            </div>


            <div ng-show="processSuccess">

                <h2>

                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="color: green">results</h4>
                        </div>
                    </div>
                </h2>

                <div class="panel panel-default">


                    <div class="row-fluid"
                         style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                        <label class="col-sm-3">Post</label>
                    </div>

                    <div class="panel-heading">

                    </div>

                    <div class="panel-body">
                        <div ng-repeat="post in posts">

                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-2">{{post.message}}
                                </div>

                                <hr>
                            </div>
                        </div>
                    </div>


                </div>


            </div>


        </div>


    </div>


</div>


<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
