<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="connectionFactoryRegistry"
          class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
        <property name="connectionFactories">
            <list>
                <bean class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
                    <constructor-arg value="${app.config.oauth.facebook.apikey}"/>
                    <constructor-arg value="${app.config.oauth.facebook.apisecret}"/>
                </bean>

            </list>
        </property>
    </bean>

    <bean id="facebookServiceProvider" class="com.donal.util.OAuthServiceProvider">
        <constructor-arg name="config" ref="facebookServiceConfig"/>
    </bean>

    <bean id="facebookServiceConfig" class="com.donal.util.OAuthServiceConfig">
        <constructor-arg value="${app.config.oauth.facebook.apikey}"/>
        <constructor-arg value="${app.config.oauth.facebook.apisecret}"/>
        <constructor-arg value="${app.config.oauth.facebook.callback}"/>
        <constructor-arg value="org.scribe.builder.api.FacebookApi"/>
    </bean>

    <bean id="oAuth2Parameters" class="org.springframework.social.oauth2.OAuth2Parameters">
        <constructor-arg>
            <map>
                <entry key="redirect_uri" value="${app.config.oauth.facebook.callback}"></entry>
                <entry key="scope" value="${app.config.oauth.facebook.scope}"></entry>
            </map>
        </constructor-arg>
    </bean>


</beans>